.add-product-container {
  /* background-color: yellow; */
}
.product-photo {
  background-color: #eae8e8;
  border-radius: 15px;
}
.product-section-title {
  padding: 15px;
}
.drag-area {
  margin: 15px;
  height: 200px;
  width: 98%;
  border: 2px dotted black;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  margin-top: 10px;
}
.upload-icon {
  text-align: center;
}
.select {
  cursor: pointer;
  transform: 0.4s;
}

.drag-drop-text {
  font-size: 18px;
  margin-right: 5px;
}

.clicktobrowse {
  color: #e6612a;
  font-size: 18px;
}
.container {
  margin: 15px;
  height: auto;
  width: 98%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}
.image {
  width: 100px;
  margin-right: 7px;
  height: 100px;
  position: relative;
  margin-bottom: 8px;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.delete {
  position: absolute;
  top: -2px;
  right: 9px;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
  color: red;
}
.drag-area input {
  display: none;
}
