.add-product-container {
  /* background-color: yellow; */
}

/* PRODUCT-PHOTO */

.product-photo,
.product-information {
  background-color: #eae8e8;
  border-radius: 15px;
}
.product-section-title {
  padding: 15px;
}
.drag-area {
  margin: 15px;
  height: 200px;
  width: 98%;
  border: 2px dotted black;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  margin-top: 10px;
}
.upload-icon {
  text-align: center;
}
.select {
  cursor: pointer;
  transform: 0.4s;
}

.drag-drop-text {
  font-size: 18px;
  margin-right: 5px;
}

.clicktobrowse {
  color: #e6612a;
  font-size: 18px;
}
.container {
  margin: 15px;
  height: auto;
  width: 98%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}
.image {
  width: 100px;
  margin-right: 7px;
  height: 100px;
  position: relative;
  margin-bottom: 8px;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.delete {
  position: absolute;
  top: -2px;
  right: 9px;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
  color: red;
}
.drag-area input {
  display: none;
}

/* PRODUCT-INFORMATION */
.product-information-form {
  padding: 15px;
}
.form-row {
  display: grid;
  grid-template-columns: auto auto;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
}
.form-row-2 {
  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;
  gap: 30px;
  margin-bottom: 10px;
}
.form-label {
  display: block;
  color: gray;
  margin-bottom: 5px;
}
.form-input {
  width: 100%;
  height: 30px;
  padding: 0 10px;
  font-size: 14px;
}
.form-input:focus {
  outline: none;
}
.size-button {
  padding: 7px;
  margin: 0 5px;
  border: none;
  background-color: #eef2f7;
  border-radius: 5px;
}
.color-buttons {
  display: flex;
  gap: 10px;
}

.color-button {
  width: 30px;
  height: 30px;
  padding: 5px;
  border-radius: 30%;
  border: 2px solid black;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: border-color 0.2s ease-in-out;
  background-color: transparent;
}

.color-button span {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: inline-block;
}

.color-button:hover {
  border-color: #000;
}
.product-descriptioin {
  width: 100%;
  height: 200px;
}
