/* .productImageSection,
.productInfoSection {
  background-color: #eae8e8;
  border-radius: 10px;
  margin-bottom: 20px;
}
.productPhotoTitle,
.productInfoTitle {
  padding: 15px;
}
.drag-area-container {
  padding: 15px;
}
.drag-area {
  border: 2px dashed #ccc;
  border-radius: 8px;
  padding: 40px 0;
  text-align: center;
  transition: all 0.3s ease;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.drag-area:hover {
  background-color: #f0f0f0;
  border-color: #e6612a;
}

.icon {
  margin-bottom: 20px;
}

.text {
  display: inline-block;
  font-size: 16px;
  font-weight: 400;
  color: #555;
}

.select {
  font-size: 16px;
  color: #555;
}

.mark {
  color: #e6612a;
  cursor: pointer;
  font-weight: 600;
}

.file {
  display: none;
}

.drag-area:focus {
  outline: 2px solid #e6612a;
}
.productInfoForm {
  padding: 15px;
}
.formRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 80px;
  margin-bottom: 15px;
}
.input-div {
  width: 100%;
}
.input-label {
  color: #555;
  margin: 3px 0;
  font-size: 16px;
}

.addProductInput {
  border: 1px solid #555;
  width: 100%;
  height: 35px;
  font-size: 14px;
  padding: 0 10px;
}
.addProductInput:focus {
  outline: none;
} */

.add-product-container {
  /* background-color: yellow; */
}
.product-photo {
  background-color: #eae8e8;
}
.product-section-title {
  padding: 15px;
}
.drag-area {
  margin: 15px;
  height: 200px;
  width: 98%;
  border: 2px dotted black;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
  -webkit-user-select: none;
  margin-top: 10px;
}
.select {
  cursor: pointer;
  transform: 0.4s;
}
.container {
  margin: 15px;
  height: auto;
  width: 98%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-wrap: wrap;
  max-height: 200px;
  overflow-y: auto;
  margin-top: 10px;
}
.image {
  width: 100px;
  margin-right: 7px;
  height: 100px;
  position: relative;
  margin-bottom: 8px;
}
.image img {
  width: 100%;
  height: 100%;
  border-radius: 5px;
}
.delete {
  position: absolute;
  top: -2px;
  right: 9px;
  font-size: 20px;
  cursor: pointer;
  z-index: 999;
  color: red;
}
.drag-area input {
  display: none;
}
