/* LAYOUT SECTION */
.layoutContainer {
  display: flex;
}
.childrenItems {
  margin: 5%;
}
/* SIDEBAR SECTION */
.sidebarSection {
  background: #262d34;
  width: 15%;
  height: 100vh;
  color: #bfc1c3;
}
.dashBoard {
  margin: 5% 20px;
}
.logo {
  /* font-size: 20px; */
  color: white;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}
.logoSize {
  margin-right: 7px;
}
.companyName {
  font-size: 30px;
}
.sideBarMenu {
  margin: 30px 7px;
}
/* NAVBAR SECTION */
.navbarSection {
  width: 100%;
}
.navbarContainer {
  background: #eae8e8;
}
.navbarMenu {
  margin: 0 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}
.menuName {
  font-size: 24px;
}
