.productListContainer {
  background-color: whitesmoke;
}
.productListHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}
.productListHeaderRight {
  display: flex;
  align-items: center;
  gap: 20px;
}
.addButtonProduct {
  color: white;
  background-color: #e6612a;
  padding: 7px;
  border-radius: 7px;
  border: none;
}
.selectionList > select {
  height: 25px;
  border: none;
}
.selectionList > select:hover {
  border: none;
}
