.sidebarSection {
  background: #262d34;
  width: 15%;
  height: 100vh;
  color: #bfc1c3;
}
.sidebarContainer {
}
.logo {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  margin-top: 10px;
  margin-bottom: 30px;
}
.sidebarItemsContainer {
  margin: 0 7px;
}
.sidebarItem {
  display: flex;
  align-items: center;
  padding: 5px 0;
}
.sidebarItemlabel {
  font-size: 18px;
  margin: 0 12px;
  cursor: default;
}
.sidebarItemlabel:hover {
  color: white;
  font-size: 19px;
}
.sidebarUpDownIcon {
  margin-left: 90px;
}

.subRouteContainer {
  margin: 0 30px;
}
.subRouteItems {
  padding: 5px;
  cursor: pointer;
}

.subRouteItems:hover {
  color: white;
  font-size: 17px;
}
